<nav class="navbar navbar-expand-lg" id='mainNav'>
    <!-- main navbar logo -->
    <a class="navbar-brand animated fadeInDown" id='mainNavBrand' href="/">
        <img src="/images/atom.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Mountain Pain Management
    </a>
    <!-- mobile navbar logo -->
    <a class="navbar-brand animated fadeInDown" id='mobileNavBrand' href="/">
        <img src="/images/atom.png" width="30" height="30" class="d-inline-block align-top" alt="">
        MPM
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="color: white;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto animated fadeInDown" id="navLinks">
            <li class="nav-item active">
                <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% if (!user) { %>
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/signup">Signup</a>
                    <% } %> 
                    <% if (user) { %>
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    <% } %>
                    <% if (user && user.admin) { %>
                        <a class="dropdown-item" href="/signup">Admin</a>
                    <% } %>
                </div>
            </li>
            <% if (user) { %>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>