
// variables
// -------------------------------------------------------------------
$main-background: ghostwhite;
$primary-color: steelblue;
$primary-font: 'Ubuntu', sans-serif;

// page styles
// -------------------------------------------------------------------
body {
    background: $main-background;
    font-family: $primary-font;
}

#mainContainer {
    margin-top: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color:$primary-color;
    text-align: center;
    color: white;
}

// navbar styles
// -------------------------------------------------------------------
#mainNav {
    background: $primary-color;
    color: $main-background;
    text-align: center;
    box-shadow: 0 5px 5px darkgrey;

    a {
        color: $main-background;
    }

    #navLinks {
        margin-right: 20px;
    }

    #mobileNavBrand {
        display: none;
    }

    .dropdown-menu {
        background-color: transparent;
        border: none;
    }

    .dropdown-menu a  {
        color: black;
        text-align: center;
        width: 90px;     
    }

    .dropdown-menu a:hover  {
        font-size: 1.3em;
        background-color: transparent;  
        font-weight: bold; 
    }

    a#navbarDropdownMenuLink {
        width: 100px;
    }

    .navbar-brand img {
        margin-right: 10px;
    }

}


// Media Queries
@media only screen and (max-width: 380px) {
    #mainNav {
        #mobileNavBrand {
            display: block;
        }

        #mainNavBrand {
            display: none;
        }

        a {
            margin: 0 auto;
        }
    }
}
